

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.bar-chart {
    background-color: #e6d03f;
}

svg text.cat {
    fill: #ffffff;
}

svg text.post {
    fill: #e6d03f;
}