@model WebAppCourseFinalProject.Models.Branch
@using System.Web;
@{
    ViewData["Title"] = "Find your quacks";


}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<p>You can search for your duck store nearby</p>


<div id='storesMap' style='width: 50vw; height: 80vh;'></div>
@section Scripts{
    <script type='text/javascript'>
    function loadMapScenario() {
        let map = new Microsoft.Maps.Map(document.getElementById('storesMap'), {
            /* No need to set credentials if already passed in URL */
            center: new Microsoft.Maps.Location(32.080285, 34.767669),
            zoom: 15,
            mapTypeId: Microsoft.Maps.MapTypeId.road
        });
        var layer = new Microsoft.Maps.Layer();

        //let storeLocations = @ViewData["locations"];
        //let storeNames = @ViewData["names"];

        if (storeLocations!= null && storeLocations.length > 0) {

            for (var i = 0; i < storeLocations.length; i += 2) {
                let store = new Microsoft.Maps.Pushpin(
                    new Microsoft.Maps.Location(storeLocations[i], storeLocations[i + 1]),
                    {
                        title: storeNames[i],
                        subTitle: storeNames[i+1],
                        icon: 'http://localhost:37787/images/duck.svg',
                        anchor: new Microsoft.Maps.Point(10, 40)
                    }
                );
                layer.add(store);
            }
            map.layers.insert(layer);
        }
    }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AiNwCKOudGFQsyAwQ5HsrlEtXctlb0mEMMz_cJQGntz2Gg0QJiH8Gz6bxtwcVLSd&callback=loadMapScenario' async defer></script>
}