@model IEnumerable<WebAppCourseFinalProject.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}


<div class="wether-box alert alert-primary" role="alert">
    <h5>Tel-Aviv Temparature</h5>
    <div>Max Temp: <span id="max_temp"></span>&#8451;</div>
    <div>Min Temp: <span id="min_temp"></span>&#8451;</div>
    <div>Current Temp: <span id="temp"></span>&#8451;</div>
</div>



<h2>Here we will have the list of blogs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>

            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/js/home_page.js"></script>
}

@section Styles{
    <link href="~/css/home_page.css" rel="stylesheet" />
}



