
<div id="ducks-footer">
    <div id="footer-about">

        <strong class="about-text">about</strong>
        <address>
            Support: <a href="mailto:support@rubber.ducks.com">support@rubber.ducks.com</a><br />
            Marketing:<a href="mailto:marketing@rubber.ducks.com">marketing@rubber.ducks.com</a>
        </address>
        This is an awesome blog about Rubber Ducks!!!
        Have fun!
    </div>
</div>
